Certificate
    Serial number:     {{ cert.serial_number }}
    Not Valid Before:  {{ cert.not_valid_before }}
    Not Valid After:   {{ cert.not_valid_after }}
    Version:           {{ cert.version }}

Issuer
    {%- for line in cert.issuer.formatted_lines %}
        {{ line }}
    {%- endfor %}

Subject
    {%- for line in cert.subject.formatted_lines %}
        {{ line }}
    {%- endfor %}

X509v3 extensions
    X509v3 Basic Constraints
        CA: {{ cert.ca }}
        {%- if cert.ca %}
        Path length: {{ cert.max_path_length }}
        {% endif %}
    {%- if cert.key_usages %}
    X509v3 Key Usages
        {%- for key_usage in cert.key_usages %}
        {{ key_usage }}
        {%- endfor %}
    {%- endif %}
    {%- if cert.extended_key_usages %}
    X509v3 Extended Key Usage:
        {%- for ext_key_usage in cert.extended_key_usages %}
        {{ ext_key_usage }}
        {%- endfor %}
    {%- endif %}

Public Key
    Length:     {{ cert.public_key.bit_size }} bit
    Algorithm:  {{ cert.public_key.algorithm }}
    Exponent:   {{ cert.public_key.exponent }} ({{ cert.public_key.hex_exponent }})
    Modulus:
        {{ cert.public_key.modulus|wordwrap(45, wrapstring='\n        ') }}

Signature
    Algorithm:  {{ cert.signature_algorithm }}
    Signature:
        {{ cert.signature|wordwrap(54, wrapstring='\n        ') }}
